run = "bash start.sh"
entrypoint = "src/main.cpp"

[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[env]
API_PORT = "8080"
STORAGE_PATH = "/tmp/store.json"
FAMILY_STORAGE_PATH = "/tmp/family.json"
